[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
cchardet = "*"
coveralls = "*"
feedparser = "*"
formasaurus = {extras = ["with-deps"], version = "*"}
humanize = "*"
lxml = "*"
multidict = "*"
protobuf = "*"
psutil = "*"
python-dateutil = "*"
python-mimeparse = "*"
rethinkdb = "*"
robotexclusionrulesparser = "*"
trio = "*"
trio-websocket = "*"
watchdog = "*"
websockets = "*"
"w3lib" = "*"
yarl = "*"
sphinxcontrib-trio = "*"
coverage = "*"
pytest-cov = "*"
pytz = "*"

[dev-packages]
nose = "*"
pytest = "*"
pytest-cov = "*"
pytest-trio = "*"
trustme = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
coveralls = "*"

[requires]
python_version = "3.7"
