[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
cchardet = "*"
coveralls = "*"
feedparser = "*"
formasaurus = {extras = ["with-deps"], version = "*"}
humanize = "*"
lxml = "*"
multidict = "*"
protobuf = "*"
psutil = "*"
python-dateutil = "*"
python-mimeparse = "*"
rethinkdb = {ref = "master", git = "https://github.com/mehaase/rethinkdb-python.git"}
robotexclusionrulesparser = "*"
trio = "*"
trio-websocket = "*"
watchdog = "*"
websockets = "*"
"w3lib" = "*"
yarl = "*"
sphinxcontrib-trio = "*"
coverage = "*"
pytest-cov = "*"
pytz = "*"
trio-asyncio = "*"
aiohttp = "*"
aiohttp-socks = "*"
async-timeout = "*"
pytest-mock = "*"

[dev-packages]
nose = "*"
pytest = "*"
pytest-cov = "*"
pytest-trio = "*"
trustme = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
coveralls = "*"
ipython = "*"
ipykernel = "*"

[requires]
python_version = "3.7"
