[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
cchardet = "*"
coveralls = "*"
feedparser = "*"
humanize = "*"
lxml = "*"
multidict = "*"
protobuf = "*"
psutil = "*"
python-dateutil = "*"
python-mimeparse = "*"
robotexclusionrulesparser = "*"
trio = "*"
trio-websocket = "==0.8.0"
watchdog = "*"
websockets = "*"
w3lib = "*"
yarl = "*"
sphinxcontrib-trio = "*"
coverage = "*"
pytest-cov = "*"
pytz = "*"
trio-asyncio = "*"
aiohttp = "*"
aiohttp-socks = "*"
async-timeout = "*"
pytest-mock = "*"
docker-compose = "*"
PyYAML = ">=4.2b1"
scikit-learn = ">=0.18"
scipy = "*"
sklearn-crfsuite = ">=0.3.1"
joblib = "*"
tldextract = "*"

[dev-packages]
nose = "*"
pytest = "*"
pytest-cov = "*"
pytest-trio = "*"
trustme = "*"
Sphinx = "*"
sphinx-rtd-theme = "*"
coveralls = "*"
ipython = "*"
ipykernel = "*"
sphinxcontrib-trio = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[packages.e4f0a5d]
file = "https://hyperiongray.s3-us-west-2.amazonaws.com/formasaurus-0.9.0.tar.gz"

[packages.78b8898]
file = "https://hyperiongray.s3-us-west-2.amazonaws.com/rethinkdb-2.4.0-mark2.tar.gz"
