aiodns
aiohttp
aiosocks
async_timeout
beautifulsoup4
cchardet
feedparser
formasaurus[with-deps]
humanize
lxml==3.8.0
multidict
nose
protobuf
psutil
python-dateutil
python-mimeparse
rethinkdb
robotexclusionrulesparser
watchdog
websockets
w3lib
yarl
