aiodns
aiohttp==1.0.0
aiosocks==0.1.5
async_timeout
beautifulsoup4
cchardet
feedparser
formasaurus[with-deps]
humanize
lxml==3.8.0
multidict
nose
protobuf
psutil
python-dateutil
python-mimeparse
scikit-learn==0.22.2
rethinkdb
robotexclusionrulesparser
watchdog
websockets
w3lib
yarl
